@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'BlackOpsOne';
    /* Choose a suitable name for your font */
    src: local('BlackOpsOne'), url('fonts/BlackOpsOne.ttf') format('ttf');
    /* Add additional src lines for other font formats if necessary */

    /* Additional font properties */
    font-weight: normal;
    font-style: normal;
}